@font-face {
  font-family: 'BrittanySignature';
  src: url('/BrittanySignature.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

.hero-title {
  font-family: 'BrittanySignature', sans-serif !important;
}
